[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
wrapt = "*"
typed-ast = "*"
rope = "*"
pycodestyle = "*"
mccabe = "*"
lazy-object-proxy = "*"
isort = "*"
astroid = "*"
mypy = "*"

[packages]
matplotlib = "*"
numpy = "*"
jsonpickle = "*"
ujson = "*"
pandas = "*"
SQLAlchemy = "*"
seaborn = "*"
sphinx = "*"
numpydoc = "*"
sphinx-rtd-theme = "*"
recommonmark = "*"
jupyterlab = "*"
ipympl = "*"
tabulate = "*"
bottleneck = "*"
numexpr = "*"
beakerx = "*"
beakerx-tabledisplay = "*"
pyarrow = "*"
tables = "*"

[requires]
python_version = "3.8"
