[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "==3.10.7"
numpy = "==2.3.0"
jsonpickle = "*"
ujson = "*"
pandas = "==2.3.3"
sqlalchemy = "*"
seaborn = "==0.13.2"
sphinx = "*"
numpydoc = "*"
sphinx-rtd-theme = "*"
recommonmark = "*"
tabulate = "*"
bottleneck = "*"
numexpr = "*"
pyarrow = "*"
distributed = "==2025.11.0"
dask-jobqueue = "==0.9.0"
graphviz = ">=0.20.1"
ipython = ">=9.8.0"
ipdb = ">=0.13.13"
yamllint = ">=1.35.1"
dask = {extras = ["complete"], version = "==2025.11.0"}
urllib3 = "*"

[dev-packages]
pylint = ">=3.2.6"
autopep8 = "*"
wrapt = "*"
rope = "*"
pycodestyle = "*"
mccabe = "*"
lazy-object-proxy = "*"
isort = "*"
mypy = ">=0.982"
mypy-extensions = "*"
autoflake = ">=1.7.7"
ruff = ">=0.4.9"

[requires]
python_version = "3.11"
