[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "==3.10.0"
numpy = "==2.2.1"
jsonpickle = "*"
ujson = "*"
pandas = "==2.2.3"
scipy = "==1.14.0"
sqlalchemy = "*"
seaborn = "==0.13.2"
sphinx = "*"
numpydoc = "*"
sphinx-rtd-theme = "*"
recommonmark = "*"
tabulate = "*"
bottleneck = "*"
numexpr = "*"
pyarrow = "*"
distributed = "==2024.12.1"
dask-jobqueue = "==0.9.0"
graphviz = ">=0.20.1"
ipython = ">=8.25.0"
ipdb = ">=0.13.13"
yamllint = "*"
dask = {extras = ["complete"], version = "==2024.12.1"}

[dev-packages]
pylint = ">=3.2.6"
autopep8 = "*"
wrapt = "*"
typed-ast = "*"
rope = "*"
pycodestyle = "*"
mccabe = "*"
lazy-object-proxy = "*"
isort = "*"
mypy = ">=0.982"
mypy-extensions = "*"
autoflake = ">=1.7.7"
ruff = ">=0.4.9"

[requires]
python_version = "3.10"
