font.size : 20
lines.linewidth : 2
axes.titlesize : 20
axes.linewidth:  2
axes.labelsize : 18
axes.grid : True
xtick.labelsize : 14
xtick.major.width : 1.5
xtick.minor.width : 1.0
xtick.minor.visible : True
xtick.bottom : True
ytick.labelsize : 14
ytick.major.width : 1.5
ytick.minor.width : 1.0
ytick.left : True
ytick.minor.visible : True
text.usetex : True
font.family : 'serif'
figure.dpi : 300
legend.fontsize : 16
legend.title_fontsize : 18